* {
  //border: solid 1px black;
  font-family: 微軟正黑體;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

.container {
  font-size: 0px;
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  justify-content: flex-start;
}

.block {
  font-size: 20px;
  box-sizing: border-box;
}

.a {
  width: 16%;
  background-color: #FFFFFF;
  position: fixed;
}
.zone1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home, .search, .explore, .message, .inform, .build, .info, .more{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 15px;
  cursor: pointer;
}
.home:hover, .search:hover, .explore:hover, .message:hover, .inform:hover, .build:hover, .info:hover, .more:hover{
  background-color: #F0F0F0;
  border-radius: 35px;
}
.home:hover .icon1, .search:hover .icon2, .explore:hover .icon3, .message:hover .icon4, .inform:hover .icon5, .build:hover .icon6, .more:hover .icon8{
  width: 45px;
  height: 45px;
}
.info:hover .icon7{
  width: 32px;
  height: 32px;
}
.home:hover .side1, .search:hover .side2, .explore:hover .side3, .message:hover .side4, .inform:hover .side5, .build:hover .side6, .more:hover .side8{
  margin-left: 5px;
}
.info:hover .side7{
  margin-left: 3px;
}
.zone2 {
  margin: 220px 0px;
}

.icon {
  padding: 20px;
  width: 120px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon8 {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.icon7{
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 30px;
}

.side1, .side2, .side3, .side4, .side5, .side6, .side7, .side8 {
  margin: 10px;
  padding: 5px;
  width: fit-content;
  font-size: 18px;
}
.side2, .side3, .side4, .side5, .side6, .side7, .side8 {
  font-weight: normal;
}
.b {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0px 40px 0px 460px;
}

.c {
  width: 22%;
  margin: 35px 0px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 0px 10px 0px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: solid 1px #BEBEBE;
  height: 100px;
  width: 100%;
  white-space: nowrap;
  position: relative;
}
.top_1{
  display: flex;
  overflow-x: hidden;
  position: relative;
}
.human1, .human2, .human3, .human4, .human5, .human6 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 15px 12px 10px 12px;
  width: 55px;
  position: relative;
}

.vi {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.account {
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}
.next, .photobtn, .photobtn2{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 10px;
  z-index: 99;
}

.top > button:nth-last-of-type(1){
  right: 0;
}

.top > button:nth-last-of-type(2){ 
  left: 0;
  padding-left: 3px;
  padding-top: 0px;
}

.none {
  display: none;
}


.post1, .post2 {
  margin: 5px 0px;
  border-radius: 10px;
  border: solid 1px #BEBEBE;
  background-color: #FFFFFF;
  position: relative;
}
.post1 .bar, .post2 .bar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}
.post1 .bar .bar_1, .post2 .bar .bar_1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
}
.pho {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.post1 .bar .bar_1 .account_1, .post2 .bar .bar_1 .account_1 {
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.post1 .bar .circle, .post2 .bar .circle {
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.post1 .bar .circle .little_circle, .post2 .bar .circle .little_circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3C3C3C;
  margin: 1px;
}
.square {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
img.squ , img.squ2{
  position: relative;
}
.square1, .square2, .square3, .square4, .square5{
  width:100%;
  display: flex;
  flex-direction: row;
}

.bottom > .post1 > button:nth-of-type(1){
  left: 0;
  padding-left: 3px;
  padding-top: 0px;
}
.bottom > .post1 > button:nth-of-type(2){
  right: 0;

}
.bottom > .post2 > button:nth-of-type(1){
  left: 0;
  padding-left: 3px;
  padding-top: 0px;
}
.bottom > .post2 > button:nth-of-type(2){
  right: 0;

}
.content {
  display: block;
}

.content_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mood{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heart, .comment, .share, .save_1{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.content_2 .good {
  margin: 0px;
  padding: 5px 0px 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.content_3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.content_3 .id{
  margin-left: 10px;
  cursor: pointer;
}
.content_3 .text {
  margin-left: 20px;
}

.id ,.text{
  margin: 0px; 
  font-size: 15px;
}

.content_4{
  
}
.allc{
  margin: 0px;
  color: 	#8E8E8E;
  font-size: 15px;
  margin: 2px 0px 2px 10px;
  font-weight: normal;
  cursor: pointer;
}
.content_4_1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.date, .trans{
  margin: 0px 0px 0px 10px;
  cursor: pointer;
}
.date{
  font-size: 12px;
  color: #8E8E8E;
}
.trans{
  font-size: 14px;
  font-weight: bold;
}
.message_form{
  display: flex;
}
.content_5 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.content_5 .emoji{
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.content_5 input {
  width: 360px;
  height: 25px;
  font-size: 15px;
  margin: 0px 10px;
  border: none;
}
.content_5 .go {
  width: 50px;
  margin: 0px 5px;
  font-size: 16px;
  font-weight: bold;
  color: #D2E9FF;
  background-color: transparent;
  border: none;
}

.myaccount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.special_1{
  margin: 0px 20px;
}
.mphoto {
  width: 55px;
  height: 55px;
  border-radius: 50%;

}
.myaccount .account_2, .myaccount .name {
  flex-direction: column;
  margin: 0px;
}
.account_2{
  font-size: 15px;
}
.name{
  color: #8E8E8E;
  font-size: 16px;
  font-weight: normal;
}
.change{
  color: #0080FF;
  font-size: 13px;
}
.commend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.commend_1, .commend_2{
  margin: 10px 0px;
  letter-spacing: 1px;
}
.commend_1{
  color: #8E8E8E;
  font-size: 15px;
}
.commend_2{
  font-size: 13px;
}
.otheraccount {
  display: flex;
  flex-direction: column;
}

.person1, .person2, .person3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.other_1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.special_2{
  margin: 0px 10px;
}
.person1 .account_3, .person1 .new, .person2 .account_3, .person2 .new, .person3 .account_3, .person3 .new {
  flex-direction: column;
  margin: 0;
  width: fit-content;
}
.account_3{
  font-size: 15px;
}
.new{
  font-size: 14px;
  color: #8E8E8E;
  font-weight: normal;
  letter-spacing: 0.5px;
}
.btn{
  margin: 0px;
  color: #0080FF;
  font-size: 13px;
}

.intro_1{
  font-size: 13px;
  color: #BEBEBE;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 30px 0px 10px 0px;
  padding: 0px;
}
.intro_1_1, .intro_1_2, .intro_1_3, .intro_1_4, .intro_1_5, .intro_1_6, .intro_1_7, .intro_1_8, .intro_1_9{
  display: inline;
  cursor: pointer;
}
.intro_1_1::after, .intro_1_2::after, .intro_1_3::after, .intro_1_4::after, .intro_1_5::after, .intro_1_6::after, .intro_1_7::after, .intro_1_8::after{
  content: '\00B7';
  margin: 1px;
}
.intro_1_1_1, .intro_1_2_1, .intro_1_3_1, .intro_1_4_1, .intro_1_5_1, .intro_1_6_1, .intro_1_7_1, .intro_1_8_1, .intro_1_9_1{
  text-decoration: none;
  color:#BEBEBE;
}
.intro_1_1_1:hover, .intro_1_2_1:hover, .intro_1_3_1:hover, .intro_1_4_1:hover, .intro_1_5_1:hover, .intro_1_6_1:hover, .intro_1_7_1:hover, .intro_1_8_1:hover{
  text-decoration: underline;
}
.about::after, .illu::after, .nst::after, .api::after, .oppo::after, .privacy::after, .terms::after, .place::after{
  content: '\00B7';
  margin: 1px;
}
select{
  border: none;
}
.frommeta{
  font-size: 14px;
  color: #BEBEBE;
  margin: 0px;
  font-weight: normal;
}

.message_1{
  opacity: 0.3;
}

.none{
  display: none;
}